.login {
    left: 50%;
    top: 50%;
    transform:translate(-50%,-80%);

}

.login img {
    height: 110px;
    width: 160px;
}

.loginArea button[type=submit],  .loginArea input {
    height: 40px;
    font-size: 16px;
    width: 230px;
    margin: 2%;
}

.loginArea button[type=submit] {
    height: 50px;
}

.loginArea input:hover {
    height: 40px;
    width: 270px;
}

.loginArea input:focus {
    font-size: 20px;
}

#password, a {
    color: black;
    font-weight: bold;
    font-size: 17px;
}
