.login {
    left: 50%;
    top: 50%;
    transform:translate(-50%,-80%);
}

.login img {
    height:110px;
    width: 160px;
}

.loginArea button[type=submit],  .loginArea input {
    height: 55px;
    font-size: 23px;
    width: 300px;
    margin: 1.4%;
}

.loginArea button[type=submit] {
    height: 70px;
}

.loginArea input:hover {
    height: 55px;
    width: 370px;
}

.loginArea input:focus {
    font-size: 23px;
}

#password, a {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
