.modification {
    margin-top: 17%;
    margin-bottom: 15%;
    height: 550px;
}

.modification h2 {
    font-size: 24px;
}

.modification p {
    font-size: 20px;
}

.modification input {
    font-size: 17px;
    margin-bottom: 1%;
    width: 70%;
    height: 30px;
}

.modification button[type="submit"] {
    width: 50%;
    height: 50px;
    font-size: 20px;
}
