header h1 {
    font-size: 100px;
}

.signUpArea {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -7%);
    width: 800px;
}

.signUpArea h2 {
    font-size: 60px;
}

.signUpArea p {
    font-size: 42px;
}

.signUpArea input {
    font-size: 37px;
}

.signUpArea button {
    font-size: 42px;
}