header h1 {
    font-size: 35px;
}

.signUpArea {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    width: 370px;
}

.signUpArea h2 {
    font-size: 30px;
}

.signUpArea p {
    font-size: 24px;
}

.signUpArea input {
    font-size: 20px;
}

.signUpArea button {
    font-size: 20px;
}