.transpBox{
    height:800px;
}
.logo{
    height:140px;
    left:20%;
}
.subtitle{
    height:40px;
}
.login-wrapper{
    height:130px;
    /* left:23%; */
    /* top:58%; */
}
.loginButton{
    height:130px;

}
.signin-wrapper{
    height:130px;
    /* left:23%; */

}
.signinButton{
    height:130px;
}
