body {
    margin: 0;
    padding: 0;
    background-image: url("images/signUp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.login {
    position: absolute;
    left: 30%;
    top: 20%;
    text-align: center;
}

.loginArea input, button {
    width: 70%;
    border: none;
    height: 40px;
    margin: 2.5%;
    text-align: center;
}

.loginArea input {
    background: none;
    border: 1.5px solid purple;
}

.loginArea input:hover {
    width: 87%;
    border-color: limegreen;
}

.loginArea button[type=submit] {
    background-color: purple;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.loginArea button:hover {
    background-color: limegreen;
}

span {
    display: block;
    text-align: right;
}
