body {
    margin: 0;
    padding: 0;
    background-image: url("images/signUp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /*
    -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
    */
}

.loginArea {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -60%);
    text-align: center;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -90%);
    height: 50%;
}

.loginArea input, button {
    width: 70%;
    border: none;
    height: 40px;
    margin: 2.5%;
    text-align: center;
}

.loginArea input {
    background: none;
    border: 1.5px solid purple;
}

.loginArea button[type=submit] {
    background-color: purple;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.loginArea input:hover {
    width: 87%;
    border-color: limegreen;
}

.loginArea button:hover {
    background-color: limegreen;
}
/*
span:before {
    content: "\a ";    
    white-space: pre;
  }
  */
span {
    display: block;
    text-align: right;
}
  /*
@-webkit-keyframes mymove {
    from {background-image: url("images/signUp.jpg");}
    to {background-image: url("images/2.jpg");}
  }
  
  @keyframes mymove {
    from {background-image: url("images/signUp.jpg");}
    to {background-image: url("images/2.jpg");}
  }
*/
