.header-logoMobile{
    margin-left:12%;
}
.collapsible-menu{
    padding: 0px 10px; 
    margin-top:-11%;
    margin-left:-11%;
}
.collapsible-menu label{
    padding:3px 3px 3px 15px; 

}
.addSensor button{
    margin-left:26%;
    padding: 15px 40px;

}
.notificationSmall{
    margin-top:-7%;
}