.login {
    left: 50%;
    top: 50%;
    transform:translate(-50%,-65%);
}

.login img {
    height: 160px;
    width: 300px;
}

#password, a {
    color: black;
    font-weight: bold;
}

.loginArea button[type=submit],  .loginArea input {
    height: 60px;
    width: 500px;
    font-size: 17px;
    margin: 2%;
    font-size: 30px;
}

.loginArea button[type=submit] {
    height: 75px;
}

.loginArea input:hover {
    height: 60px;
    width: 700px;

}

.loginArea input:focus {
    font-size: 30px;
}

#password, a {
    color: black;
    font-weight: bold;
    font-size: 23px;
}
