.modification {
    margin-top: 14%;
    margin-left: 10%;
    width: 80%;
    height: 1000px;
}

.modification h2 {
    font-size: 40px;
    margin-bottom: 5%;
}

.modification p {
    margin-left: 5%;
    font-size: 32px;
    margin-bottom: 2%;
}

.modification input {
    width: 80%;
    height: 50px;
    font-size: 35px;
    margin-bottom: 3%;
}

.modification button[type="submit"] {
    margin-left: 25%;
    width: 50%;
    height: 70px;
    font-size: 30px;
}


header{
    display:none;
}

.headerSmaller{
    height:100px;
    background:#202023;
    width:100%;
    border:0px;
    margin:0px auto;
    position:fixed;
    padding:0px;
    top:0px;
    right:0px;
    left:0px;
    display:block;
    z-index:1;
    font-size: 50px;
}

.header-logoMobile{
    margin-left:40%;
    margin-top: 2%;
}

.collapsible-menu {
    background-color:#202023;
    padding: 0px 40px; 
    /* bottom:15%; */
    margin-top:-6%;
    padding-top:10px;
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
    color:white;
}

.collapsible-menu label{
    font-family: "Monotype Corsiva";
    color:white;
    padding:10px 10px 10px 20px; 
    cursor: pointer;
    margin-left:5%;
    background: url("../../images/menu.png") no-repeat left center;
}

input#menuToggler{
    display: none;
    padding:20px;

}
.pagesMobile{
    max-height: 0;
    overflow: hidden;
    font-family: "Monotype Corsiva";
    color:white;
    background-color:#202023;
    padding: 0 0 0 50px;
    list-style: none;
}

input:checked ~ .pagesMobile{
    max-height: 100%;
}

footer {
    padding-bottom: 5%;
    font-size: 30px;
}