header{
    height:72px;
    background:#202023;
    width:100%;
    border:0px;
    margin:0px auto;
    position:fixed;
    padding:0px;
    top:0px;
    right:0px;
    left:0px;
    display:flex;
}

.header-logo{
    margin-left:10%;
}

header .pages{
    display:flex;
    margin-left:3%;
    margin-top:2%; 
    color:white;
}

header a{
    font-family: "Monotype Corsiva";
    font-size:120%;
    margin-left:10%;
    float:left;
    text-decoration: none;
    color:white;
}

.headerSmaller{
    display:none;
}

.modification {
    margin-top:8%;
    margin-left:25%;
    margin-right: 25%;
    margin-bottom:8%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 #202023, 0 6px 20px 0 #202023;
    padding: 2%;
    text-align: center;
}

.modification h2 {
    margin-bottom: 40px;
}

.modification p {
    font-size: 19px;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 10px;
}

.modification input {
    width: 60%;
    height: 30px;
    border: 1px solid black;
}

.modification input:hover {
    border: 1px solid red;
}

.modification button[type="submit"] {
    height: 40px;
    width: 30%;
    margin-top: 3%;
    display: block;
    margin-left: 35%;
    background-color: red;
    border: none;
    color: white;
    font-size: 17px;
}

footer{
    height:50px;
    width:100%;
    bottom:0px;
    right:0px;
    left:0px;
    background:#202023;
    position:fixed;

}

footer .footer-text{
    display:flex;
    margin-left:10%;
    text-align: center;
    margin-top:1%;
}

footer a{
    color:white;
    margin-left:1%;
    font-family: "Monotype Corsiva";
    font-size:120%;  
}
