header h1 {
    font-size: 50px;
}

.signUpArea {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    width: 500px;
}

.signUpArea h2 {
    font-size: 40px;
}

.signUpArea p {
    font-size: 35px;
}

.signUpArea input {
    font-size: 30px;
}

.signUpArea button {
    font-size: 30px;
}