<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Actualizare Profil </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/ModificareSenzor/ModificareSenzor.css">
        <link rel="stylesheet" media="(max-width:1030px)" href="../css/ModificareSenzor/ModificareSenzorMax1300.css">
        <link rel="stylesheet" media="(max-width:820px)" href="../css/ModificareSenzor/ModificareSenzorMax820.css">
        <link rel="stylesheet" media="(max-width:650px)" href="../css/ModificareSenzor//ModificareSenzorMax650.css">
        <link rel="stylesheet" media="(max-width:420px)" href="../css/ModificareSenzor//ModificareSenzorMax420.css">
        <link rel="stylesheet" media="(max-width:380px)" href="../css/ModificareSenzor//ModificareSenzorMax380.css">
        
    </head>
        
    <body>
        <header>
            <img class="header-logo" src="../images/pageLogo.png" alt="Smiley face">
            <div class="pages">
                <li><a href="/map">Harta</a></li>
                <li><a href="/adaugareSenzor">Adaugare senzor</a></li>
                <li><a href="/modificareSenzor">Modificare senzor</a></li>
                <li><a href="/actualizareProfil">Actualizare profil</a></li>
                <li><a href="/">Logout</a></li>
            </div>
        </header>

        <div class="headerSmaller">
            <img class="header-logoMobile" src="../images/pageLogo.png" alt="Smiley face">
            <div class="collapsible-menu">
                <input type="checkbox" id="menuToggler"/>
                <label for="menuToggler" class="Menu">Menu</label>
           
                <div class="pagesMobile">
                    <ul>
                        <li><a href="/map">Harta</a></li>
                        <li><a href="/adaugareSenzor">Adaugare senzor</a></li>
                        <li><a href="/modificareSenzor">Modificare senzor</a></li>
                        <li><a href="/actualizareProfil">Actualizare profil</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modification">
            <h2> Modificare date </h2>
                <form action="map.html">
                    <p>Numar de telefon</p>
                        <input type="text" placeholder="Introduceti numarul de telefon" name="distance">
                    <p>Email</p>
                        <input type="text" placeholder="Introduceti email" name="age">
                    <p>Parola curenta</p>
                        <input type="password" placeholder="Introduceti parola" name="adress" required>
                    <p> Noua parola</p>
                        <input type="password" placeholder="Introduceti noua parola" name="adress">
                    <button type="submit"><strong> Submit </strong></button>
                </form>
        </div>

        <footer>
            <div  class="footer-text">
                <a>Proiect la Tehnologii Web</a>
                <a>Realizat de Rotaru Alexandra-Beatrice si Zanceanu Ioan Robert</a>
                <a>Grupa A2</a>
            </div>
        </footer>

    </body>
</html>