<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Adaugare Copil </title>
        <link rel="stylesheet" href="../css/addSenzor/senzor.css">
        <link rel="stylesheet" media="(min-width:1400px)" href="../css/addSenzor/respLarge-senzor.css">
        <link rel="stylesheet" media="(max-width:1050px)" href="../css/addSenzor/respMedium-senzor.css">
        <link rel="stylesheet" media="(max-width:925px)" href="../css/addSenzor/respMedium2-senzor.css">
        <link rel="stylesheet" media="(max-width:750px)" href="../css/addSenzor/respMedium3-senzor.css">
        <link rel="stylesheet" media="(max-width:650px)" href="../css/addSenzor/respMedium4-senzor.css">
        <link rel="stylesheet" media="(max-width:450px)" href="../css/addSenzor/respSmall-senzor.css">
        <link rel="stylesheet" media="(max-width:361px)" href="../css/addSenzor/respSmall2-senzor.css">


        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <img class="header-logo" src="../images/pageLogo.png" alt="Logo">
            <div class="pages">
                <a href="map.html">Harta</a>
                <a href="addSenzor.html"> Adaugare senzor</a>
                <a href="ModificareSenzor.html">Modificare senzor</a>
                <a href="ActualizareProfil.html">Actualizare profil</a>
                <a href="index.html">Logout</a>
            </div>
        </header>
        <div class="headerSmaller">
            <img class="header-logoMobile" src="../images/pageLogo.png" alt="Logo">
            <div class="collapsible-menu">
                <input type="checkbox" id="menuToggler"/>
                <label for="menuToggler" class="Menu">Menu</label>
           
                <div class="pagesMobile">
                    <ul>
                        <li><a href="map.html">Harta</a></li>
                        <li><a href="addSenzor.html">Adaugare senzor</a></li>
                        <li><a href="ModificareSenzor.html">Modificare senzor</a></li>
                        <li><a href="ActualizareProfil.html">Actualizare profil</a></li>
                        <li><a href="index.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="addSensor">
            <h2>Adauga senzorul pentru copilul tau!</h2>
            <form action="map.html">
                <p>Nume copil</p>
                    <input type="text" placeholder="Introduceti numele" name="childName" required>
                <p>Distanta minima da indepartare</p>
                    <input type="text" placeholder="Introduceti distanta" name="distance" required>
                <p>Varsta Copilului</p>
                    <input type="text" placeholder="Introduceti varsta" name="age" required>
                <p>Adresa de monitorizare</p>
                    <input type="text" placeholder="Introduceti prima adresa" name="adress" required>
                <p>Adresa de monitorizare 2</p>
                    <input type="text" placeholder="Introduceti cea de-a doua adresa" name="adress" >
                <button type="submit"><strong> Submit </strong></button>
                </form>
        </div>
        <footer>
            <div  class="footer-text">
                <a>Proiect la Tehnologii Web</a>
                <a>Realizat de Rotaru Alexandra-Beatrice si Zanceanu Ioan Robert</a>
                <a>Grupa A2</a>
            </div>
        </footer>
    </body>
</html>