<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Forgot Password </title>        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/ForgotPassword/ForgotPassword.css">
        <link rel="stylesheet" media="(max-width:1300px)" href="../css/ForgotPassword/ForgotPasswordMax1300.css">
        <link rel="stylesheet" media="(max-width:830px)" href="../css/ForgotPassword/ForgotPasswordMax830.css">
        <link rel="stylesheet" media="(max-width:770px)" href="../css/ForgotPassword/ForgotPasswordMax770.css">
        <link rel="stylesheet" media="(max-width:740px)" href="../css/ForgotPassword/ForgotPasswordMax740.css">
        <link rel="stylesheet" media="(max-width:420px)" href="../css/ForgotPassword/ForgotPasswordMax420.css">
        <link rel="stylesheet" media="(max-width:380px)" href="../css/ForgotPassword/ForgotPasswordMax380.css">
    </head>

    <body>
        <div class="forgotPasswordArea">
            <h2> Forgot Password? </h2>
            <p id="firstParagraph"> You can reset your password here. </p>

            <div class="space">
                <form action="/forgotpassword" method="POST" class="password-Area">
                    Email <input type="email" placeholder="enter your email" name="email" required>
                    <button type="submit" ><strong> Send a new Password </strong></button>
                </form>
            </div>
        </div>

        <script src='../javascript/forgotPassword.js'></script>

    </body>
</html>