.forgotPasswordArea {
    left: 50%;
    top: 50%;
    transform:translate(-50%,-70%);
    width: 100%;
    font-size: 22px;
}

.forgotPasswordArea h2 {
    font-size: 40px;
    margin-bottom: 2px;
}

#firstParagraph {
    font-size: 23px;
    margin-bottom: 40px;
}

.forgotPasswordArea input[type=tel] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
}

.forgotPasswordArea input[type=tel]:hover {
    width: 360px;
    height: 50px;
}

.forgotPasswordArea button[type=submit] {
    height: 70px;
    width: 170px;
    font-size: 20px;
}

.lala {
    margin-left: 5%;
    margin-right: 2%;
}