body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../../images/ceva2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.forgotPasswordArea {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-70%, -75%);
}

.forgotPasswordArea h2 {
    color: purple;
    font-size: 30px;
    text-align: center;
}

#firstParagraph {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10%;
}

.space {
    margin-left: 5%;
    margin-right: 2%;
    font-size: 20px;
}

.forgotPasswordArea input[type=email] {
    height: 40px;
    width: 80%;
    margin: 3%;
    border: 2px solid aqua;
    background-color: azure;
    font-size: 16px;
}

.forgotPasswordArea button[type=submit] {
    cursor: pointer;
    height: 40px;
    width: 60%;
    border: none;
    border-radius: 20px;
    background-color: limegreen;
    color: white;
    text-align: center;
    float: right;
    font-size: 17px;
}

.forgotPasswordArea button[type=submit]:hover {
    background-color: aqua;
}

.forgotPasswordArea input[type=email]:hover {
    width: 100%;
    border-color: limegreen;
}
