.forgotPasswordArea {
    left: 50%;
    top: 50%;
    transform:translate(-50%,-70%);
    width: 100%;
}

.forgotPasswordArea h2 {
    font-size: 33px;
}

#firstParagraph {
    font-size: 20px;
    margin-bottom: 10%;
}

.forgotPasswordArea input[type=email] {
    width: 250px;
    font-size: 16px;
}

.forgotPasswordArea input[type=email]:hover {
    width: 270px;
}

.forgotPasswordArea button[type=submit] {
    height: 50px;
    width: 200px;
    font-size: 17px;
}
