.forgotPasswordArea {
    top: 50%;
    left: 50%;
    transform:translate(-70%,-60%);
    font-size: 20px;
}

.forgotPasswordArea h2 {
    font-size: 30px;
    margin-bottom: 2px;
}

#firstParagraph {
    font-size: 20px;
}

.forgotPasswordArea input[type=email] {
    width: 400px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 20px;
}

.forgotPasswordArea input[type=email]:hover {
    width: 500px;
    height: 45px;
}

.forgotPasswordArea button[type=submit] {
    height: 50px;
    width: 200px;
    font-size: 16px;
}