.forgotPasswordArea {
    top: 50%;
    left: 50%;
    transform:translate(-60%,-70%);
    font-size: 30px;
}

.forgotPasswordArea h2 {
    font-size: 60px;
}

#firstParagraph {
    font-size: 40px;
}

.forgotPasswordArea input[type=email] {
    width: 600px;
    height: 75px;
    font-size: 30px;
    margin-bottom: 40px;
}

.forgotPasswordArea input[type=email]:hover {
    width: 650px;
    height: 75px;
}

.forgotPasswordArea button[type=submit] {
    height: 100px;
    width: 300px;
    font-size: 30px;
}