header{
    display:none;
}
.headerSmaller{
    height:60px;
    background:#202023;
    width:100%;
    border:0px;
    margin:0px auto;
    position:fixed;
    padding:0px;
    top:0px;
    right:0px;
    left:0px;
    display:block;
    z-index:1;
}
.header-logoMobile{
    margin-left:40%;

}

.collapsible-menu{
    background-color:#202023;
    padding: 0px 40px; 
    /* bottom:15%; */
    margin-top:-6%;
    padding-top:10px;
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
    color:white;
}
.collapsible-menu label{
    font-family: "Monotype Corsiva";
    color:white;
    padding:10px 10px 10px 20px; 
    cursor: pointer;
    margin-left:5%;
    /* background: url("../../images/menu.png") no-repeat left center; */
}
input#menuToggler{
    display: none;
    padding:20px;

}
.pagesMobile{
    max-height: 0;
    overflow: hidden;
    font-family: "Monotype Corsiva";
    color:white;
    background-color:#202023;
    padding: 0 0 0 50px;
    list-style: none;

}
input:checked ~ .pagesMobile{
    max-height: 100%;
}
.notificationSmall{
    margin-left:80%;
    margin-top:-3%;
    background-color:#202023;

}

.notificationSmall ul {
    list-style-type: none;
    padding: 0;
}
.notificationSmall a {
    display:block;
    padding: 10px;
    text-decoration: none;
    color:white;
}
.notificationSmall label{
    font-family: "Monotype Corsiva";
    color:white;
    padding:0px 0px 0px 10px; 
    cursor: pointer;
    /* margin-left:5%; */
}
input#notificationListSmall{
    display: none;
    padding:20px;
    
}
.notifiSmall{
    max-height: 0;
    overflow: hidden;
    font-family: "Monotype Corsiva";
    color:white;
    background-color:#202023;
    padding: 10px 10px 10px 10px;
    z-index:10;

}
input:checked ~ .notifiSmall{
    max-height: 100%;
}
#map{
    height: 400px;
}
